<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>WSD</title>
    <link href="style.css" rel="stylesheet" type="text/css" />
  </head>
  <body>
    <div class="wrapper">
      <form action="/word" method="post">
        <h1>Wisdomlib Sanskrit Dictionary</h1>
        <input
          id="uword"
          type="text"
          name="word"
          placeholder="Enter word"
          autocomplete="off"
        />
        <input class="button" type="submit" value="Submit" />
      </form>
      <p>
        Pagina niet gevonden = Page not found<br />If you get this error,
        correct the spelling and try again<br />Support
        <a href="https://www.wisdomlib.org" target="_blank">wisdomlib.org</a
        ><br /><br /><span class="author">By Dyuv</span>
      </p>
    </div>
  </body>
</html>
